@charset "UTF-8";

/*画面のスタイルシート*/
body {
    font-family : "Noto sans JP",sans-serif ;
    margin : 0 ;
}

/*共通のスタイルシート*/
h2{
    font-size: 30px;
}

p{
    font-size: 30px;
    margin: 30px 0;
}

a{
    width: 150px;
    font-size:30px;
    text-decoration: none;
}    

.btn-link{
    display: flex;
    justify-content: space-between;
    width: 400px;
}




/*トップ開始*/
.top-article {
    background : radial-gradient(#A1A3A0,#6D6F6C);
    color : #FFFFFF;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
}


.top-article span {
    display : block ;
}

.top-icon{
    height: auto;
    display: flex;
    justify-content: space-between;
}


.top-icon-right{
    background-color: #fff;
    font-size: 20px;
    color: #000;
    height: 100%;
    width: 100px;
    text-align: center;
    padding: 10px 0;
}

.top-icon-left{
    background-color: #fff;
    font-size: 20px;
    color: #000;
    width: 100px;
    height: 100%;
    text-align: center;
    padding: 10px 0;
}

.top-icon p{
    font-size: 14px;
    margin: 0;
}

.top-main{
    height: auto;
    display:flex;
    justify-content: space-between;
}
.top-profile{
    margin: 0 -150px 0 500px;
}

.top-profile h1{
    margin: 0;
    font-size: 50px;
}

.top-profile p{
    margin: 0;
    font-size: 50px;
    letter-spacing: 0.1em;
}

.top-article .top-main .top{
    width: 100%;
    left: 500px;
    top: 40px;
    height: auto;
    object-fit: contain;
    max-width: 2000px;
}

/*about-css開始*/

.about-article{
    display:flex;
    overflow: hidden;
    height: auto;
}
.about-article h1{
    margin: 30px 0;
}

.about-article p{
    font-size: 14px;
    margin: 20px 0;
    letter-spacing: 0.3em;
}

.about-right{
    margin-left: 200px;
    width: 70%;
}

.icon-about{
    width: auto;
    
}

.icon-about img{
    margin-right: 200px;
    width: 100px;
    height: 100px;
}

.pc-img{
    width: 50%;
    position: relative;
    right: -400px;
}

/*プロジェクト*/

/*twitterクローン*/
.twitter-clone{
    background : radial-gradient(#A1A3A0,#6D6F6C);
    color : #FFFFFF;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.twitter-block{
    display:flex;
    height: 80%;
}

.twitter-img-box{
    width: 800px;
    display: flex;
    align-items: flex-end;
    margin: 0 200px;
}

.twitter-img{
    background-color: #fff;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items:flex-start;
}

.twitter-img .twitter-sidebar{
    width: 10%;
}

.twitter-img .twitter-screenshot{
    width: 70%;max-width: 800px;
}

.twitter-main{
    height: 100%;
}

.twitter-website-btn{
    text-align: center;
    width: 150px;
    padding: 10px 10px;
    background-color:#fff;
    color:#6D6F6C;
    border: solid 1px #fff;
}

.twitter-github-btn{
    text-align: center;
    width: 150px;
    padding: 10px 10px;
    color: #fff;
    border: solid 1px #fff;
}

/*Netflixクローン*/
.netflix-clone{

}

.netflix-block{
    height: auto;
    display: flex;
}

.netflix-img{
    width: 800px;
    display: flex;
    align-items: flex-start;
    margin: 0 200px;
}

.netflix-img img{
    width:100% ;
}

.netflix-main{
    height: 100%;
}

.netflix-website-btn{
    text-align: center;
    width: 150px;
    padding: 10px 10px;
    background-color:none;
    color:#000000;
    border: solid 1px #000000;
}

.netflix-github-btn{
    text-align: center;
    width: 150px;
    padding: 10px 10px;
    background-color:#000000;
    color: #fff;
    border: solid 1px #000000;
}

/*お問合せ*/

.contacts-article{
    height: 40vh;
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    padding: 0 200px;
    background-color: #2F2F2F;
    color: #fff;
}

.contacts-article a{
    color: #fff;
    margin-left: 50px; ;
}

.tell{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.tell a{
    width: auto;
}

.mail{
    display: flex;
    align-items: center;
}

footer{
    background-color: #656363;
    color: #fff;
    text-align: center;
    height: 10vh;
    position: relative;
    margin: auto ;
}
footer p{
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto ;
    width: 80%;
    height: 3.2rem;
}