@charset "UTF-8"; /*画面のスタイルシート*/
body {
    font-family : "Noto sans JP",sans-serif ;
    margin : 0 ;
}

/*共通のスタイルシート*/
h2 {
    font-size: 25px;
    margin: 50px 0 0 0px;
}

p {
    font-size: 30px;
    margin: 30px 0;
}

a {
    width: auto;
    font-size: 30px;
    text-decoration: none;
}

.btn-link {
    display: flex;
    justify-content: space-between;
    width: 330px;
}

/*トップ開始*/
.top-article {
    background : radial-gradient(#A1A3A0,#6D6F6C);
    color : #FFFFFF;
    height: 93vh;
    margin: 0px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-article span {
    display : block ;
}

.top-icon {
    height: auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.top-icon-left {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    font-size: 20px;
    color: #000;
    width: 70px;
    height: 70px;
    padding: 10px 0;
}

.pc {
    display: block !important;
}

.sp {
    display: none !important;
}

.top-icon-right {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    color: #000;
    height: 70px;
    width: 70px;
    padding: 10px 0;
}

.icon-box {
    text-align: center;
}

.top-icon p {
    font-size: 14px;
    margin: 0;
}

.top-main {
    height: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.top-profile {
    padding: 0 0 0 100px;
    overflow: visible;
    position: absolute;
    left: 0;
    z-index: 1;
}

.top-profile h1 {
    margin: 0;
    font-size: 130px;
}

.top-profile p {
    display: inline;
    margin: 0;
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 0;
}

.top-picture {
    width: 65%;
}

.top-picture img {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 700px;
}

.top-article .top-main .top {
    width: 100%;
    left: 500px;
    top: 40px;
    height: auto;
    object-fit: contain;
    max-width: 2000px;
}

/*about-css開始*/
.about-article {
    display: flex;
    overflow: hidden;
    height: 600px;
    position: relative;
}

.about-article h1 {
    margin: 30px 0;
}

.about-article p {
    font-size: 14px;
    letter-spacing: 0.3em;
}

.about-right {
    margin-left: 50px;
    width: auto;
    padding: 100px 0 0 0;
    z-index: 1;
}

.icon-about {
    width: auto;
    display: flex;
    justify-content: left;
}

.icon-about img {
    width: 50px;
    margin: 0 20px 0 0;
}

.pc-img {
    height: 100%;
    position: absolute;
    right: -355px;
}

/*プロジェクト*/
.projects-article {
    height: auto;
}

/*twitterクローン*/
.twitter-clone {
    background : radial-gradient(#A1A3A0,#6D6F6C);
    color : #FFFFFF;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projects-title {
    margin: 50px 0 50px 50px;
}

.twitter-block {
    display: flex;
    height: 80%;
}

.twitter-img-box {
    width: 50%;
    display: flex;
    align-items: flex-end;
    margin: 0 50px;
}

.twitter-img {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.twitter-img .twitter-sidebar {
    width: 10%;
}

.twitter-img .twitter-screenshot {
    width: 90%;
    max-width: 800px;
}

.twitter-main {
    height: 100%;
    padding: 0 50px;
}

.twitter-main p {
    font-size: 16px;
}

.twitter-website-btn {
    text-align: center;
    width: 150px;
    padding: 15px 10px;
    background-color: #fff;
    color: #6D6F6C;
    border: solid 1px #fff;
    font-size: 20px;
}

.twitter-github-btn {
    text-align: center;
    font-size: 20px;
    width: 150px;
    padding: 15px 10px;
    color: #fff;
    border: solid 1px #fff;
}

/*Netflixクローン*/
.netflix-clone {
    height: 50%;
}

.netflix-block {
    height: 80%;
    display: flex;
}

.netflix-img {
    width: 50%;
    display: flex;
    align-items: flex-start;
    margin: 0 0 0 50px;
}

.netflix-img img {
    width: 100% ;
}

.netflix-main {
    height: 100%;
    width: min-content;
    margin-left: 50px;
}

.netflix-main p {
    font-size: 16px;
}

.netflix-website-btn {
    text-align: center;
    width: 150px;
    padding: 15px 15px;
    font-size: 20px;
    background-color: none;
    color: #000000;
    border: solid 1px #000000;
}

.netflix-github-btn {
    text-align: center;
    width: 150px;
    padding: 15px 15px;
    font-size: 20px;
    background-color: #000000;
    color: #fff;
    border: solid 1px #000000;
}

/*お問合せ*/
.contacts-article {
    height: 50%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    padding: 0 200px;
    /* background-color: #2F2F2F; */
    /* color: #fff; */
}

.contacts-article img {
    width: 30px;
}

.contacts-article a {
    color: #fff;
    margin-left: 20px;
    font-size: 20px;
}

.tell {
    display: flex;
    align-items: center;
    margin: 50px 0 20px 0;
}

.tell a {
    width: auto;
    font-size: 20px;
}

.mail {
    display: flex;
    align-items: center;
    margin: 0 0 50px 0;
}

footer {
    background-color: #656363;
    color: #fff;
    text-align: center;
    height: 10vh;
    position: relative;
    margin: auto ;
}

footer p {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 3.2rem;
    font-size: 16px;
}

/* スマホ用スタイルシート */
@media screen and (max-width: 844px) {
    /*共通のスタイルシート*/ h2 {
        font-size: 25px;
        margin: 30px 0 0 0px;
    }

    p {
        font-size: 30px;
        margin: 20px 0;
    }

    a {
        width: auto;
        font-size: 30px;
        text-decoration: none;
    }

    .btn-link {
        display: flex;
        justify-content: space-between;
        width: 220px;
        margin: 0 auto 20px auto;
    }

    /*トップ開始*/
    .top-article {
        background : radial-gradient(#A1A3A0,#6D6F6C);
        color : #FFFFFF;
        height: 85vh;
        margin: 0px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .top-article span {
        display : block ;
    }

    .pc {
        display: none !important;
    }

    .sp {
        display: block !important;
        margin: 20px auto;
    }

    .top-icon {
        height: auto;
        display: flex;
        justify-content: space-between;
    }

    .top-icon-right {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 20px;
        color: #fff;
        height: 70px;
        width: 70px;
        padding: 10px 0;
        background: none;
    }

    .top-icon-left {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: none;
        font-size: 20px;
        color: #fff;
        width: 70px;
        height: 70px;
        padding: 10px 0;
    }

    .icon-box {
        text-align: center;
    }

    .top-icon p {
        font-size: 14px;
        margin: 0;
    }

    .top-main {
        width: 100%;
        position: relative;
    }

    .top-profile {
        overflow: visible;
        width: 100%;
        margin: 0 auto;
        position: absolute;
        text-align: center;
        padding: 0;
    }

    .top-profile h1 {
        margin: 0;
        font-size: 80px;
    }

    .top-profile p {
        display: inline;
        margin: 0;
        font-size: 16px;
        font-weight: 100;
        letter-spacing: 0;
    }

    .top-picture {
        width: 100%;
    }

    .top-picture img {
        width: 100%;
        position: absolute;
        bottom: 0;
        max-width: 700px;
    }

    .top-article .top-main .top {
        width: 100%;
        left: 500px;
        top: 40px;
        height: auto;
        object-fit: contain;
        max-width: 2000px;
    }

    /*about-css開始*/
    .about-article {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        height: 500px;
        text-align: center;
        position: relative;
        padding: 0 20px;
    }

    .about-article h1 {
        margin: 30px 0;
    }

    .about-article p {
        font-size: 14px;
        letter-spacing: 0.3em;
        display: inline-block;
        text-align: left;
    }

    .about-right {
        margin-left: 0px;
        width: auto;
        padding: 0px 0 0 0;
    }

    .icon-about {
        width: auto;
        display: flex;
        justify-content: center;
    }

    .icon-about img {
        width: 50px;
        margin: 0 20px 0 0;
    }

    .pc-img {
        display: none !important;
        height: 100%;
        position: absolute;
        right: -355px;
    }

    /*プロジェクト*/
    .projects-article {
        height: auto;
        text-align: center;
    }

    /*twitterクローン*/
    .twitter-clone {
        background : radial-gradient(#A1A3A0,#6D6F6C);
        color : #FFFFFF;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .projects-title {
        margin: 20px 20px;
    }

    .twitter-block {
        display: flex;
        flex-direction: column;
        height: 80%;
    }

    .twitter-img-box {
        width: 80%;
        display: flex;
        align-items: flex-end;
        margin: 10px auto;
    }

    .twitter-img {
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .twitter-img .twitter-sidebar {
        width: 10%;
    }

    .twitter-img .twitter-screenshot {
        width: 90%;
        max-width: 800px;
    }

    .twitter-main {
        width: 90%;
        height: 100%;
        padding: 0;
        margin: 0 auto;
    }

    .twitter-main p {
        font-size: 16px;
    }

    .twitter-website-btn {
        text-align: center;
        width: 100px;
        background-color: #fff;
        color: #6D6F6C;
        border: solid 1px #fff;
        font-size: 16px;
    }

    .twitter-github-btn {
        text-align: center;
        font-size: 16px;
        width: 100px;
        color: #fff;
        border: solid 1px #fff;
    }

    /*Netflixクローン*/
    .netflix-clone {
        height: 50%;
    }

    .netflix-block {
        height: 80%;
        display: flex;
        flex-direction: column;
    }

    .netflix-img {
        width: 80%;
        display: flex;
        align-items: center;
        margin: 0 auto;
    }

    .netflix-img img {
        width: 100% ;
    }

    .netflix-main {
        height: 100%;
        width: 90%;
        margin-left: 0px;
        margin: 0 auto;
    }

    .netflix-main p {
        font-size: 16px;
    }

    .netflix-website-btn {
        text-align: center;
        width: 100px;
        font-size: 16px;
        background-color: none;
        color: #000000;
        border: solid 1px #000000;
    }

    .netflix-github-btn {
        text-align: center;
        width: 100px;
        padding: 15px 15px;
        font-size: 16px;
        background-color: #000000;
        color: #fff;
        border: solid 1px #000000;
    }

    /*お問合せ*/
    .contacts-article {
        height: 50%;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: #2F2F2F;
        color: #fff;
        padding: 0;
    }

    .contacts-article img {
        width: 30px;
    }

    .contacts-article a {
        color: #fff;
        margin-left: 20px;
        font-size: 20px;
    }

    .tell {
        display: flex;
        align-items: center;
        margin: 30px auto;
    }

    .tell a {
        width: auto;
        font-size: 20px;
    }

    .mail {
        display: flex;
        align-items: center;
        margin: 0 auto;
    }

    footer {
        background-color: #656363;
        color: #fff;
        text-align: center;
        height: 50px;
        position: relative;
        margin: 0 auto;
    }

    footer p {
        position: absolute;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
        width: 100%;
        font-size: 16px;
        margin: 0 auto;
    }
}
